.button{
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-coral);
    border: none;
    outline: none;
    line-height: 28px;
    /* margin: 0 auto; он сделал через flexbox */
}

.button:hover{
    opacity: .8;
    cursor: pointer;
}